$base-color: #ad0f14;
$white-color: #fff;
$thirdcolor: #0f9675;

.card {
    width: 302px;
    height: 320px;
    margin-top: 30px;
   margin-bottom: 30px;

    .drinkname {
        float: left;
        font-size: 18px;
        font-weight: 700;
    }

    .drinkbtn {
        float: right;
        width: 90px;
        cursor: pointer;
        height: 30px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 6px;
        padding:3px 11px;
        color:$white-color;
        background-color:$thirdcolor;
    }
}

.cardimage {
    width: 300px;
    height: 300px;
}